<h1>Something has gone terribly wrong!</h1>

<% if @object.errors.any? %>
  <ul>
    <% @object.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% if @error %>
  <p><%= @error %></p>
<% end %>
