<h1>Success!</h1>

<p>Thank you for completing the following survey: </p>

<p><strong><%= @survey.title %></strong></p>

<p>Your answers have been saved!</p>

<p><a href="/take/surveys">Take another survey.</a></p>
